<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151573432634-pmlgu35p00clqgeufk00m0pgu3raq6b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151573432634-pmlgu35p00clqgeufk00m0pgu3raq6b7</string>
	<key>API_KEY</key>
	<string>AIzaSyD6HYCGlLTpd285CYaKKLwJ7F3D7MB-smk</string>
	<key>GCM_SENDER_ID</key>
	<string>151573432634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Meaw.Personal-Training-app</string>
	<key>PROJECT_ID</key>
	<string>personal-training-app-fd93f</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-training-app-fd93f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151573432634:ios:e6688271d5ef92167a2803</string>
</dict>
</plist>